<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game start!</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script src="https://cdn.pubnub.com/pubnub-3.7.14.min.js"></script>
    <script src="https://cdn.pubnub.com/webrtc/webrtc.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link type = "text/css" href = "/static/css/bootstrap.min.css" rel = "stylesheet">
    <style>
        html{height: 100%;}
        body{height: 100%;background-color: #cccccc;font-family: 微软雅黑}
        #Game-info{position:relative;float:left;width:25%;height:100%;}
        #Game-info-1{height: 30%;overflow: auto;padding:5px}
        #Game-info-2{height: 25%;overflow: auto;padding-left: 5px}
        #Game-info-3{height: 25%;overflow: auto;padding-left: 5px;}
        #Game-info-4{height: 20%;overflow: auto;padding-left: 5px;}
        #Main{position:relative;float:left;width: 45%;height: 100%}
        #Rule{height: 15%;padding-top: 5px;}
        #Self-info{position:relative;float:left;width: 25%;height: 100%;padding:5px;}
        #Self-info-1{height: 30%;overflow: auto;}
        #chat-info{overflow: auto;}
        #Self-info-2{height: 40%;overflow: auto;padding-top: 5px}
        #Id-1{position: relative;float: left;width: 50%;}
        #Id-2{position: relative;float: left;width: 50%;}
        .timer{font-size: 30px;}
    </style>
</head>
<body>
    <div id="Game-info">
        <div id="Game-info-1">
            <span>牌局信息：</span>
            <p>4名普通狼人</p>
            <p>预言家、女巫、猎人、白痴</p>
            <p>4名普通村民</p>
        </div>
        <div id="Game-info-2">
            <p>当前信息：</p>
            {% if wolf_move %}
                <p class="Game-info-2-text">夜晚，狼人行动，其余玩家请等待</p>
            {% endif %}
            {% if witch_move %}
                <p class="Game-info-2-text">夜晚，女巫行动，其余玩家请等待</p>
            {% endif %}
            {% if seer_move %}
                <p class="Game-info-2-text">夜晚，预言家行动，其余玩家请等待</p>
            {% endif %}
            {% if police_move %}
                <p class="Game-info-2-text">白天，即将开始警长竞选，请选择是否要竞选警长</p>
            {% endif %}
            {% if speak_move %}
                <p class="Game-info-2-text">白天，请{{speaker}}号发言</p>
            {% endif %}
            {% if police_vote_move %}
                <p class="Game-info-2-text">白天，警长投票，请选择心目中的警长</p>
            {% endif%}
            {% if police_choose_move %}
                <p class="Game-info-2-text">白天，{{police}}号当选警长，请选择警左或者警右发言</p>
            {% endif%}
            {% if vote_move %}
                <p class="Game-info-2-text">白天，公投阶段，请选择放逐目标</p>
            {% endif%}
        </div>
        <div id="Game-info-3">
            <p>获得信息：</p>
            <p>{{deathLastNight}}号玩家已经死亡</p>
            <span id="piao-0"></span>
            <span id="piao-100"></span>
            <span id="piao-101"></span>
            <p id="yourdeath"></p>
            <p id="gameover"></p>
        </div>
        <div id="Game-info-4">
            <span class="timer">倒计时：</span><span id="time" class="timer"></span><span class="timer">秒</span>
        </div>
    </div>
    <div id="Main">
        <div id="Rule">
            <span>在一个古老的村庄里，来自于东方的神秘力量，导致了一些人基因突变\重组，变成了狼人，</span><br>
            <span>狼人每晚都会杀害一名玩家，而好人无法辨别谁是狼人</span><br>
            <span>若你是好人，请找出全部隐藏的狼人</span><br>
            <span>若你是狼人，请隐藏身份，杀死全部神民或平民</span>
        </div>
        <div>
            <canvas id="MainCanvas" width="600" height="500">
            </canvas>
        </div>
        <form action="/post_game/" method="post">
            {% csrf_token %}
            <div id="User-action">
            </div>
        </form>
    </div>
    <div id="Self-info">
        <div id="Self-info-1">
            <div id="chat-info">
                <div class = "list-group-item">
                {% for chat in mchats %}
                <h4 class="list-group-item-heading">{{chat.sender}}:{{chat.content}}</h4>
                <p class="list-group-item-text">{{chat.time}}</p>
                <input type="hidden" class="chat_id" value="{{chat.id}}"/>
                <br>
                {% endfor %}
            </div>

            <form method="post" action="/post_chat/">
                {% csrf_token %}
                <textarea id="chat-input" class="form-control" name = 'chat_content'></textarea>
                <input id="chat-button" class="btn btn-info btn-lg" type = 'submit' name = 'submit' value="发送"/>
            </form>
        </div>
        </div>
        <div id="Self-info-2">
            <div id="video"></div>
            <button type="button" class="btn btn-default" id="btn-dadianhua">打电话</button>
            <button type="button" class="btn btn-default" id="btn-guadianhua">挂电话</button>
        </div>
        <div id="Self-info-3">
            <div id="Id-1"><p id="Id-identity"></p><p id="Id-seat"></p></div>
            <div id="Id-2">
                <span id="Skill-1"></span><br>
                <span id="Skill-2"></span>
            </div>
        </div>
    </div>
    <div id = "sys" hidden>
        {% for chat in chats %}
            <h4 class="list-group-item-heading">{{chat.sender}}:{{chat.content}}</h4>
            <p class="list-group-item-text">{{chat.time}}</p>
            <input type="hidden" class="sys_id" value="{{chat.id}}"/>
            <br>
        {% endfor %}
    </div>
</body>
<script type="text/javascript">
    function Circle(x, y, radius) {
        this.x = x;
        this.y = y;
        this.radius = radius;
        this.isSelected = false;
        this.status = 0;
    }
    //玩家类，用于储存玩家信息，可调用
    function Player(name,head,identity) {
        this.name = name;
        this.head = head;
        this.identity = identity;
        this.alive = true;
        this.suspect = 0;
    }
    //全局变量
    var canvas = document.getElementById("MainCanvas");
    var ctx = canvas.getContext("2d");
    var GamePlayerNumber = 12;
    var suspects = ["未知","村民","狼人","预言家","女巫","猎人","白痴"];
    var circles = [];
    var players = [];
    var R = 160;
    var r = 30;
    var selectCircle = null;
    var selectPlayer = -1;
    var preClickCircle = null;
    var clickType = 1;
    var img_police = new Image();
    var second = 60;
    img_police.src = "/static/images/police.jpg";
    var myself = new Player();
    myself.name = "{{username}}";
    var myseat = -1;
    var isdeath = false;
    console.log(myself.name);

    //创建游戏玩家
    for(var i=0;i<GamePlayerNumber;i++)
    {
        var circle = new Circle();
        circle.x = 300 + Math.cos(2*Math.PI / GamePlayerNumber * i) * R;
        circle.y = 230 + Math.sin(2*Math.PI / GamePlayerNumber * i) * R;
        circle.radius = r;
        circles.push(circle);

        var player = new Player();
        player.name = null;
        player.identity = null;
        var head = new Image();
        head.src = '/static/images/head'+(i%4)+".jpg";
        player.head = head;
        players.push(player);
    }
    {% for user in userList %}
        players[{{user.seat}}].name = "{{user.user.username}}";
        players[{{user.seat}}].identity = "{{user.character_name}}";
    {% endfor %}


    for(i=0;i<GamePlayerNumber;i++)
    {
        if(players[i].name == myself.name)
        {
            myself = players[i];
            myseat = i;
            break;
        }
    }
    $('#Id-identity').append("你的身份是："+myself.identity);
    $('#Id-seat').append("你的座位是："+myseat);

    //alive
    {% for user in userList %}
    players[{{user.seat}}].alive = "{{user.alive}}";
    {% endfor %}
    if(players[myseat].alive == 'False')
    {
        isdeath = true;
        $('#yourdeath').append("你死了");
    }
    if(!isdeath){
    if(myself.identity == 'VILLEGER')
    {
        $('#Id-1').append("<img src='/static/images/villager.jpg' width='120px' height='120px'>");
        $('#Skill-1').append('投票权：你可以投出你作为公民庄严的一票');
    }
    else if(myself.identity == 'WEREWOLF')
    {
        $('#Id-1').append("<img src='/static/images/commonwerewolf.jpg' width='120px' height='120px'>");
        $('#Skill-1').append('杀手：每到夜晚，你可以和队友统一意见，杀死一名玩家');
        {% if wolf_move %}
        $('#User-action').append("<input type = 'number' id='input-number' name = 'target'value='0'/>");
        $('#User-action').append("<input type = 'submit' id='btn-kill' name = 'action' value='狼刀'/>");
        $('#User-action').append("<input type = 'submit' id='btn-kong' name = 'action' value='空刀'/>");
        $('#User-action').append("<input type = 'number' name = 'target' value='{{seat}}' hidden/>");
        $('#User-action').append("<input type = 'submit' name = 'action' value='狼人自爆'/>");
        {% endif %}
    }
    else if(myself.identity == 'SEER')
    {
        $('#Id-1').append("<img src='/static/images/seer.jpg' width='120px' height='120px'>");
        $('#Skill-1').append('预言：夜晚，你可以查看一名玩家的身份');
        {% if seer_move %}
            $('#User-action').append("<input type = 'number' name = 'target'value='0'/>");
            $('#User-action').append("<input type = 'submit' name = 'action' id='btn-seer' value='预言家'/>");
        {% endif %}
    }
     else if(myself.identity == 'WITCH')
    {
        $('#Id-1').append("<img src='/static/images/witch.jpg' width='120px' height='120px'>");
        $('#Skill-1').append('解药：夜晚，你可以救活一名濒临死亡的玩家');
        $('#Skill-2').append('毒药：夜晚，你可以毒杀一名玩家');
        {% if witch_move %}
            {% if witchA %}
            $('#User-action').append("<p>昨天晚上{{victim}}号玩家死亡</p>");
            $('#User-action').append("<input type = 'submit' name = 'action' value='女巫救'/>");
            {% endif %}
        {% if witchP %}
            $('#User-action').append("<input type = 'number' name = 'target' value='0'/>");
            $('#User-action').append("<input type = 'submit' name = 'action' value='女巫毒'/>");
        {% endif %}
            $('#User-action').append("<input type = 'submit' name = 'action' id='btn-nwguo'value='女巫过'/>");
        {% endif %}
    }
    else if(myself.identity == 'HUNTER')
    {
        $('#Id-1').append("<img src='/static/images/hunter.jpg' width='120px' height='120px'>");
        $('#Skill-1').append('猎枪：若你死亡，在白天，可以开枪杀死一名玩家，被毒无法开枪');
        {% if hunterGun %}
        $('#User-action').append("<input type = 'number' name = 'target' value='0' />");
        $('#User-action').append("<input type = 'submit' name = 'action' value='猎人开枪'/>");
        {% endif %}
    }
    else if(myself.identity == 'IDIOT')
    {
        $('#Id-1').append("<img src='/static/images/idot.jpg' width='120px' height='120px'>");
        $('#Skill-1').append('白痴：若你白天因为被投票公投出局，免受放逐');
    }
    {% if police_move %}
        if(myself.identity == 'SEER')
            $('#User-action').append("true为是狼人,false为不是狼人,他是{{iswolf}}<br>");
        $('#User-action').append("<input type = 'number' name = 'voter' value='"+ myseat +"' hidden/>");
        $('#User-action').append("<input type = 'submit' name = 'action' value='上警'/>");
        $('#User-action').append("<input type = 'submit' name = 'action' id='btn-bushangjing'value='不上警'/>");
     {% endif %}
    {% if speak_move %}
        if({{speaker}} == myseat)
            $("#User-action").append("<input type = 'submit' name = 'action' id='btn-guo'value='过'/>");
    {% endif %}
    {% if police_choose_move %}
        if({{police}} == myseat){
            $("#User-action").append("<input type = 'submit' name = 'action' id='btn-jingzuo' value='警左'/>");
            $("#User-action").append("<input type = 'submit' name = 'action' value='警右'/>");
        }
    {% endif %}
    {% if police_vote_move %}
        $("#User-action").append("<input type = 'number' name = 'target' value='0'/>");
        $('#User-action').append("<input type = 'number' name = 'voter' value='"+ myseat +"' hidden/>");
        $('#User-action').append("<input type = 'submit' name = 'action' id='btn-jingtou'value='警上投票'/>");
    {% endif %}

    }


    $('#piao-0').append("放逐投票:<br>");
    for(i=0;i<GamePlayerNumber;i++)
    {
        var isvote = 0;
        {% for vote in votes0 %}
        if({{vote.vote}} == i)
        {
            $('#piao-0').append(" "+{{vote.seat}});
            isvote = 1;
        }
        {% endfor %}
        if(isvote)
            $('#piao-0').append("投票给"+i+'<br>');

    }
    $('#piao-100').append("是否警上:<br>");


    {% for vote in votes100 %}
    if({{vote.vote}} == 1){
        $('#piao-100').append(" "+{{vote.seat}});
    }
    {% endfor %}
    $('#piao-100').append("上警了"+'<br>');

    $('#piao-100').append("警上投票:<br>");
    for(i=0;i<GamePlayerNumber;i++)
    {
        isvote = 0;
        {% for vote in votes101 %}
        if({{vote.vote}} == i)
        {
            $('#piao-101').append(" "+{{vote.seat}})
            isvote = 1;
        }
        {% endfor %}
        if(isvote)
            $('#piao-101').append("投票给"+i+'<br>');
    }
    if({{gameover}} == 1)
    {
        $('#gameover').append('游戏结束， 狼人获胜');
        $('#Game-info-2-text').append('游戏结束， 狼人获胜');
    }
    else if({{gameover}} == 2)
    {
        $('#gameover').append('游戏结束， 好人获胜');
        $('#Game-info-2-text').append('游戏结束， 好人获胜');
    }

    Draw();
    function Draw(){
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        for(var i=0;i<GamePlayerNumber;i++)
        {
            var circle = circles[i];
            ctx.beginPath();
            if(players[i].alive == "False"){
                circle.status = -1;;
            }
            if(circle.status == 0)
                ctx.fillStyle = "#BCEE68";
            else if(circle.status == -1)
                ctx.fillStyle = "#CD2626";
            else if(circle.status == 1)
                ctx.fillStyle = "#ADFF2F";
            else if(circle.status == 2)
                ctx.fillStyle = "#8B8B83";
            ctx.arc(circle.x,circle.y,r,0,2*Math.PI,true);
            if (circle.isSelected) {
                ctx.lineWidth = 5;
                var textx = circle.x;
                var texty = circle.y;
            }
            else {
                ctx.lineWidth = 1;
            }
            ctx.stroke();
            ctx.closePath();
            ctx.fill();
            //ctx.drawImage(players[i].head, circle.x - 30, circle.y - 30, 60, 60);
            //txt
            ctx.fillStyle = "#000";
            ctx.font = "italic 15px sans-serif";
            var txt = ""+(i);
            ctx.fillText(txt, circle.x-5, circle.y);
            txt = ""+suspects[players[i].suspect];
            ctx.fillText(txt,circle.x-18, circle.y+15);
            //police
            if(i=={{police}})
            {
                var x1 = 300 + Math.cos(2 * Math.PI / GamePlayerNumber * i) * 100;
                var y1 = 200 + Math.sin(2 * Math.PI / GamePlayerNumber * i) * 100;
                ctx.drawImage(img_police, x1, y1, 30, 30);
            }
        }

        if(selectPlayer != -1){
            ctx.fillStyle = "#000000";
            ctx.font = "italic 15px sans-serif";
            txt = players[selectPlayer].name;
            ctx.fillText(txt,textx+30, texty-10);
        }
    }
    canvas.onmousemove = function(e){
        var bbox = canvas.getBoundingClientRect();
        var X = e.clientX - bbox.left * (canvas.width/bbox.width);
        var Y = e.clientY - bbox.top * (canvas.height/bbox.height);
        for(var i=0; i<GamePlayerNumber; i++) {
            var c = circles[i];
            var distanceFromCenter = Math.sqrt(Math.pow(c.x - X, 2) + Math.pow(c.y - Y, 2));
            if (distanceFromCenter <= c.radius) {
                c.isSelected = true;
                selectCircle = c;
                selectPlayer = i;
                Draw();
                return;
            }
        }
        selectCircle = null;
        selectPlayer = -1;
        for(i=0; i<GamePlayerNumber; i++) {
            c = circles[i];
            c.isSelected = false;
        }
        Draw();
    };
    canvas.onclick = function(e){
        if(selectCircle != null){
            if(preClickCircle != null)
                preClickCircle.status = 0;
            selectCircle.status = clickType;
            preClickCircle = selectCircle;
        }
        else{
            if(preClickCircle != null)
                preClickCircle.status = 0;
            preClickCircle = null;
        }
    };
    canvas.onmousedown = function(e){
        //右键事件
        if(e.button == 2){
            if(selectPlayer != -1){
                players[selectPlayer].suspect = (players[selectPlayer].suspect+1)%suspects.length;
            }
        }
    };
    document.oncontextmenu = function(e){
        e.preventDefault();
    };



    /*document.getElementById("btn-kill").onclick = function(e){
        clickType = 2;
    };
    document.getElementById("btn-police").onclick = function(e){
        clickType = 1;
    };
    document.getElementById("btn-out").onclick = function(e){
        clickType = 2;
    };
    document.getElementById("btn-seer").onclick = function(e){
        clickType = 1;
    };
    document.getElementById("btn-treat").onclick = function(e){
        clickType = 1;
    };
    document.getElementById("btn-poison").onclick = function(e){
        clickType = 2;
    };
    document.getElementById("btn-gun").onclick = function(e){
        clickType = 2;
    };*/

    function updateMsg(){
    $.post(
        "/get_chat/",
        {
            last_chat_id: $(".chat_id").last().val()
        },
        function(data){
           $('.list-group-item').append(data);
        }
    );
        setTimeout("updateMsg()", 3000);
    }
    updateMsg();
    function updateMsg1(){
    $.post(
        "/get_syscommand/",
        {
            last_chat_id: $(".sys_id").last().val()
        },
        function(data){
            $('#sys').append(data);
            /*var flag = true;
            var w = 'PoliceSpeak';
            for (var i = 0;i < data.length - w.length;i++){
                flag = true;
                for (var j = 0;j < w.length;j++)
                    if (data[i + j] != w[j]){
                        flag = false;
                        break;
                    }
                if (flag){
                    break;
                }
            }*/
            //if (($('#sys').text().length > 0) && (!flag))
             //   location.reload();
        }
    );
        setTimeout("updateMsg1()", 3000);
    }
    updateMsg1();

    function timer()
    {
        if(second == 0){
            if(myself.identity == 'WEREWOLF')
            {
                {% if wolf_move %}
                document.getElementById('btn-kong').click();
                {% endif %}
            }
            else if(myself.identity == 'SEER')
            {
                {% if seer_move %}
                    document.getElementById('btn-seer').click();
                {% endif %}
            }
            else if(myself.identity == 'WITCH')
            {
            {% if witch_move %}
                document.getElementById('btn-nwguo').click();
            {% endif %}
            }
            {% if police_move %}
                document.getElementById("btn-bushangjing").click();
            {% endif %}
             {% if speak_move %}
                 if({{speaker}} == myseat)
                    document.getElementById("btn-guo").click();
            {% endif %}
            {% if police_vote_move %}
                document.getElementById("btn-jingtou").click();
            {% endif %}
            {% if police_choose_move %}
                if({{police}} == myseat)
                    document.getElementById("btn-jingzuo").click();
            {% endif %}
            second = 60;
            //location.reload();

        }
        $('#time').text(second);
        second--;
    }
    setInterval(function(){timer()},1000);

    var video_out = $('#video');
    var all_recv_numbers = [];
    var receive_phone = null;
    var phone = null;
    for(i=0;i<GamePlayerNumber;i++)
    {
        if(myseat != i)
             all_recv_numbers.push(i+"");
    }

phone = window.phone = PHONE({
    number : myseat+"0",
    publish_key : 'pub-c-21c68b88-fefa-44f2-8135-46866c64aef0',
    subscribe_key : 'sub-c-72428bf6-c507-11e6-b82b-0619f8945a4f',
});

phone.ready(function () {
    receive_phone = window.receive_phone = PHONE({
        number: myseat+"" ,
        publish_key : 'pub-c-21c68b88-fefa-44f2-8135-46866c64aef0',
        subscribe_key : 'sub-c-72428bf6-c507-11e6-b82b-0619f8945a4f',
        media : { audio : 'true', video : false },
    });
    receive_phone.receive(function(session) {
        session.connected(function (session) {video_out.append(session.video);});
        session.ended(function (session) {video_out.innerHTML = "";});
    });
});
    document.getElementById("btn-dadianhua").onclick = makeCall;
    document.getElementById("btn-guadianhua").onclick = hangup;

    function makeCall() {
    if (phone == null) {
        alert("no phone!");
    }
    else {
        // show self video
        video_out.append(phone.video);
        // dial all other users' recv_phones
        for (var i = 0; i < all_recv_numbers.length; ++i) {
            phone.dial(all_recv_numbers[i]);
        }
    }
}
    function hangup() {
    phone.hangup();
}

</script>
</html>
