<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game start!</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link type = "text/css" href = "/static/css/bootstrap.min.css" rel = "stylesheet">
    <style>
        html,body{height: 100%}
        #Game-info{position:relative;float:left;width:25%;height:100%}
        #Game-info-1{height: 30%;overflow: auto;padding:10px}
        #Game-info-2{height: 25%;overflow: auto;padding-left: 10px}
        #Game-info-3{height: 25%;overflow: auto;padding-left: 10px;}
        #Game-info-4{height: 20%;overflow: auto;padding-left: 10px;}
        #Main{position:relative;float:left;width: 50%;height: 100%}
        #Rule{height: 15%;padding-top: 10px;}
        #Self-info{position:relative;float:left;width: 25%;height: 100%}
        #Self-info-1{height: 40%;overflow: auto}
        #chat-info{overflow: auto;}
        #Self-info-2{height: 20%;overflow: auto}
        #Id-1{position: relative;float: left;width: 50%}
        #Id-2{position: relative;float: left;width: 50%}
        .timer{font-size: 30px;}
    </style>
</head>
<body>
    <div id="Game-info">
        <div id="Game-info-1">
            <span>牌局信息：</span>
            <p>4名普通狼人</p>
            <p>预言家、女巫、猎人、白痴</p>
            <p>4名普通村民</p>
        </div>
        <div id="Game-info-2">
            <p>当前信息：</p>
            {% if wolf_move %}
                <p class="Game-info-2-text">夜晚，狼人行动，其余玩家请等待</p>
            {% endif %}
            {% if witch_move %}
                <p class="Game-info-2-text">夜晚，女巫行动，其余玩家请等待</p>
            {% endif %}
            {% if seer_move %}
                <p class="Game-info-2-text">夜晚，预言家行动，其余玩家请等待</p>
            {% endif %}
            {% if police_move %}
                <p class="Game-info-2-text">白天，即将开始警长竞选，请选择是否要竞选警长</p>
            {% endif %}
            {% if speak_move %}
                <p class="Game-info-2-text">白天，请{{speaker}}号发言</p>
            {% endif %}
            {% if police_vote_move %}
                <p class="Game-info-2-text">白天，警长投票，请选择心目中的警长</p>
            {% endif%}
            {% if police_choose_move %}
                <p class="Game-info-2-text">白天，{{police}}号当选警长，请选择警左或者警右发言</p>
            {% endif%}
            {% if vote_move %}
                <p class="Game-info-2-text">白天，公投阶段，请选择放逐目标</p>
            {% endif%}
        </div>
        <div id="Game-info-3">
            <p>获得信息：</p>
            <p>（举例）预言到xxx是狼人</p>
            <p>（举例）xxx玩家夜晚死亡！</p>
            <p>（举例）1,2,3,4投票给5号玩家</p>
            <p>（举例）xxx玩家被公投出局！</p>
            {% for vote in votes %}
            <p>{{vote.seat}}投票给{{vote.vote}}号玩家</p>
            {% endfor %}
        </div>
        <div id="Game-info-4">
            <span class="timer">倒计时：</span><span id="time" class="timer"></span><span class="timer">秒</span>
        </div>
    </div>
    <div id="Main">
        <div id="Rule">
            <span>在一个古老的村庄里，来自于东方的神秘力量，导致了一些人基因突变\重组，变成了狼人，</span><br>
            <span>狼人每晚都会杀害一名玩家，而好人无法辨别谁是狼人</span><br>
            <span>若你是好人，请找出全部隐藏的狼人</span><br>
            <span>若你是狼人，请隐藏身份，杀死全部神民或平民</span>
        </div>
        <div>
            <canvas id="MainCanvas" width="600" height="500">
            </canvas>
        </div>
        <form action="/post_game/" method="post">
            {% csrf_token %}
            <div>
                <input type = 'number' name = 'target'/>
                <input type= "submit"  name = 'action' value="狼刀" id="btn-kill">
                <input type="button" value="投警长票" id="btn-police">
                <input type="button" value="投放逐票" id="btn-out">
                <input type="submit" name = 'action' value="预言家" id="btn-seer">
                <input type="submit" name = 'action' value="女巫救" id="btn-treat">
                <input type="submit" name = 'action' value="女巫毒" id="btn-poison">
                <input type="button" value="开枪" id="btn-gun">
            </div>

            {% for user in userList%}
    <p>{{user.seat}} : {{ user.user.username }} ({{user.character_name}})({{ user.alive }})</p>
    {% endfor %}
            <form action="/post_game/" method="post">
    {% csrf_token %}
    <input type = 'submit' name = 'action' value="创建游戏"/>
    <input type = 'submit' name = 'action' value="白天"/>
    <input type = 'submit' name = 'action' value="黑夜"/>
    </form>
    {% if wolf_move %}
    <form action="/post_game/" method="post">
        {% csrf_token %}
        <input type = 'number' name = 'target'/>
        <input type = 'submit' name = 'action' value="狼刀"/>
        <input type = 'submit' name = 'action' value="空刀"/>
    </form>
    {% endif %}
    {% if speak_move %}
    <form action="/post_game/" method="post">
        {% csrf_token %}
        <input type = 'submit' name = 'action' value="过"/>
        </form>
    {% endif %}
    {% if police_choose_move %}
    <form action="/post_game/" method="post">
        {% csrf_token %}
        <input type = 'submit' name = 'action' value="警左"/>
        <input type = 'submit' name = 'action' value="警右"/>
        </form>
    {% endif %}
    {% if police_move %}
    <form action="/post_game/" method="post">
        {% csrf_token %}
            <input type = 'submit' name = 'action' value="随机上警"/>
        </form>
    {% for voter in voters %}
    <form action="/post_game/" method="post">
        {% csrf_token %}
            {{ voter }} :
            <input type = 'number' name = 'voter' value={{voter}} hidden/>
            <input type = 'submit' name = 'action' value="上警"/>
            <input type = 'submit' name = 'action' value="不上警"/>
        </form>
    {% endfor %}
    {% endif %}
    {% if vote_move %}
    <form action="/post_game/" method="post">
        {% csrf_token %}
            <input type = 'submit' name = 'action' value="随机投票"/>
        </form>
    {% for voter in voters %}
    <form action="/post_game/" method="post">
        {% csrf_token %}
            {{ voter }} : <input type = 'number' name = 'target'/>
            <input type = 'number' name = 'voter' value={{voter}} hidden/>
            <input type = 'submit' name = 'action' value="投票"/>
        </form>
    {% endfor %}
    {% endif %}
    {% if police_vote_move %}
    <form action="/post_game/" method="post">
        {% csrf_token %}
            <input type = 'submit' name = 'action' value="随机警上投票"/>
        </form>
    {% for voter in voters %}
    <form action="/post_game/" method="post">
        {% csrf_token %}
            {{ voter }} : <input type = 'number' name = 'target'/>
            <input type = 'number' name = 'voter' value={{voter}} hidden/>
            <input type = 'submit' name = 'action' value="警上投票"/>
        </form>
    {% endfor %}
    {% endif %}
    {% if seer_move %}
    <form action="/post_game/" method="post">
        {% csrf_token %}
        <input type = 'number' name = 'target'/>
        <input type = 'submit' name = 'action' value="预言家"/>
        </form>
    {% endif %}
    {% if witch_move %}
    <form action="/post_game/" method="post">
        {% csrf_token %}
        {% if witchA %}
        <p>昨天晚上{{victim}}号玩家死亡————</p>
        <input type = 'submit' name = 'action' value="女巫救"/>
        {% endif %}
        {% if witchP %}
        <input type = 'number' name = 'target'/>
        <input type = 'submit' name = 'action' value="女巫毒"/>
        {% endif %}
        <input type = 'submit' name = 'action' value="女巫过"/>
        </form>
    {% endif %}
    <div id="chatroom">
        <div class = "list-group-item">
            {% for chat in chats %}
            <h4 class="list-group-item-heading">{{chat.sender}}:{{chat.content}}</h4>
            <p class="list-group-item-text">{{chat.time|date:"Y-m-d H:i:s"}}</p>
            <input type="hidden" class="chat_id" value="{{chat.id}}"/>
            <br>
            {% endfor %}
            </div>
    </div>
        </form>
    </div>
    <div id="Self-info">
        <div id="Self-info-1">
            <div id="chat-info">
                <div class = "list-group-item">
                {% for chat in chats %}
                <h4 class="list-group-item-heading">{{chat.sender}}:{{chat.content}}</h4>
                <p class="list-group-item-text">{{chat.time}}</p>
                <input type="hidden" class="chat_id" value="{{chat.id}}"/>
                <br>
                {% endfor %}
            </div>
            <form method="post" action="/post_chat/">
                {% csrf_token %}
                <textarea id="chat-input" class="form-control" name = 'chat_content'></textarea>
                <input id="chat-button" class="btn btn-info btn-lg" type = 'submit' name = 'submit' value="发送"/>
            </form>
        </div>
        </div>
        <div id="Self-info-2">
            <p>狼人战术区（情侣区暂时不留位置了）</p>
        </div>
        <div id="Self-info-3">
            <div id="Id-1">你的身份是：猎人<img src="/static/images/hunter.jpg" width="120px" height="120px"></div>
            <div id="Id-2">
                <span>猎枪：若你死亡，在白天，可以开枪杀死一名玩家，被毒无法开枪</span><br>
                <span>自爆：好吧，这只是另外一个技能</span>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function Circle(x, y, radius) {
        this.x = x;
        this.y = y;
        this.radius = radius;
        //this.color = color;
        this.isSelected = false;
        this.status = 0;
    }
    //玩家类，用于储存玩家信息，可调用
    function Player(name,head,identity) {
        this.name = name;
        this.head = head;
        this.identity = identity;
        this.alive = true;
        this.suspect = 0;
    }
    //全局变量
    var canvas = document.getElementById("MainCanvas");
    var ctx = canvas.getContext("2d");
    var GamePlayerNumber = 12;
    var suspects = ["未知","村民","狼人","预言家","女巫","猎人","白痴"];
    var circles = [];
    var players = [];
    var R = 160;
    var r = 30;
    var selectCircle = null;
    var selectPlayer = -1;
    var preClickCircle = null;
    var clickType = 1;
    var img_police = new Image();
    var second = 0;
    img_police.src = "/static/images/police.jpg";
    //创建游戏玩家
    for(var i=0;i<GamePlayerNumber;i++)
    {
        var circle = new Circle();
        circle.x = 300 + Math.cos(2*Math.PI / GamePlayerNumber * i) * R;
        circle.y = 230 + Math.sin(2*Math.PI / GamePlayerNumber * i) * R;
        circle.radius = r;
        circles.push(circle);

        var player = new Player();
        player.name = null;
        player.identity = null;
        var head = new Image();
        head.src = '/static/images/head'+(i%4)+".jpg";
        player.head = head;
        players.push(player);
    }
    {% for user in userList %}
        players[{{user.seat}}].name = "{{user.user.username}}";
        players[{{user.seat}}].identity = "{{user.character_name}}";
    {% endfor %}

    Draw();
    function Draw(){
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        for(var i=0;i<GamePlayerNumber;i++)
        {
            var circle = circles[i];
            ctx.beginPath();
            if(circle.status == 0)
                ctx.fillStyle = "#BCEE68";
            else if(circle.status == -1)
                ctx.fillStyle = "#CD2626";
            else if(circle.status == 1)
                ctx.fillStyle = "#ADFF2F";
            else if(circle.status == 2)
                ctx.fillStyle = "#8B8B83";
            ctx.arc(circle.x,circle.y,r,0,2*Math.PI,true);
            if (circle.isSelected) {
                ctx.lineWidth = 5;
                var textx = circle.x;
                var texty = circle.y;
            }
            else {
                ctx.lineWidth = 1;
            }
            ctx.stroke();
            ctx.closePath();
            ctx.fill();
            //ctx.drawImage(players[i].head, circle.x - 30, circle.y - 30, 60, 60);
            //txt
            ctx.fillStyle = "#000";
            ctx.font = "italic 15px sans-serif";
            var txt = ""+(i+1);
            ctx.fillText(txt, circle.x-5, circle.y);
            txt = ""+suspects[players[i].suspect];
            ctx.fillText(txt,circle.x-18, circle.y+15);
            //police
            if(i=={{police}})
            {
                var x1 = 300 + Math.cos(2 * Math.PI / GamePlayerNumber * i) * 100;
                var y1 = 200 + Math.sin(2 * Math.PI / GamePlayerNumber * i) * 100;
                ctx.drawImage(img_police, x1, y1, 30, 30);
            }
        }

        if(selectPlayer != -1){
            ctx.fillStyle = "#000";
            ctx.font = "italic 15px sans-serif";
            txt = players[selectPlayer].name;
            ctx.fillText(txt,textx+30, texty-10);
        }
    }
    canvas.onmousemove = function(e){
        var bbox = canvas.getBoundingClientRect();
        var X = e.clientX - bbox.left * (canvas.width/bbox.width);
        var Y = e.clientY - bbox.top * (canvas.height/bbox.height);
        for(var i=0; i<GamePlayerNumber; i++) {
            var c = circles[i];
            var distanceFromCenter = Math.sqrt(Math.pow(c.x - X, 2) + Math.pow(c.y - Y, 2));
            if (distanceFromCenter <= c.radius) {
                c.isSelected = true;
                selectCircle = c;
                selectPlayer = i;
                Draw();
                return;
            }
        }
        selectCircle = null;
        selectPlayer = -1;
        for(i=0; i<GamePlayerNumber; i++) {
            c = circles[i];
            c.isSelected = false;
        }
        Draw();
    };
    canvas.onclick = function(e){
        if(selectCircle != null){
            if(preClickCircle != null)
                preClickCircle.status = 0;
            selectCircle.status = clickType;
            preClickCircle = selectCircle;
        }
        else{
            if(preClickCircle != null)
                preClickCircle.status = 0;
            preClickCircle = null;
        }
    };
    canvas.onmousedown = function(e){
        //右键事件
        if(e.button == 2){
            if(selectPlayer != -1){
                players[selectPlayer].suspect = (players[selectPlayer].suspect+1)%suspects.length;
            }
        }
    };
    document.oncontextmenu = function(e){
        e.preventDefault();
    };

    document.getElementById("btn-kill").onclick = function(e){
        clickType = 2;
    };
    document.getElementById("btn-police").onclick = function(e){
        clickType = 1;
    };
    document.getElementById("btn-out").onclick = function(e){
        clickType = 2;
    };
    document.getElementById("btn-seer").onclick = function(e){
        clickType = 1;
    };
    document.getElementById("btn-treat").onclick = function(e){
        clickType = 1;
    };
    document.getElementById("btn-poison").onclick = function(e){
        clickType = 2;
    };
    document.getElementById("btn-gun").onclick = function(e){
        clickType = 2;
    };

    function updateMsg(){
    $.post(
        "/get_syscommand/",
        {
            last_chat_id: $(".chat_id").last().val()
        },
        function(data){
            $('.list-group-item').append(data);
        }
    );
        setTimeout("updateMsg()", 3000);
    }
    updateMsg();

    function timer()
    {
        if(second == 0){
            second = 60;
        }
        $('#time').text(second);
        second--;
    }
    setInterval(function(){timer()},1000);
</script>
</html>
