{% extends 'userbase.html' %}
    {% block css %}
        #chatroom{position: absolute;left:3%;top: 10%;width: 40%;height: 60%;opacity: 0.9;}
        #chat-heading{background-image:url("/static/images/chathead.jpg");padding-left:5px}
        #chat-body{background-image:url("/static/images/chatuser.jpg");position:relative;float:left;width:25%;height:300px;overflow:auto;padding:5px}
        #chat-info{background-image:url("/static/images/chatroom.jpg");position;relative;float:right;width: 75%;height: 300px;overflow: auto;}
        #chat-input{position:relative;float:left;width: 80%; margin-top:10px}
        #chat-button{position;relative;float:right;margin:12px;}
        .user-list{}
        .other-user-name{color:black;font-family:微软雅黑}
        .list-group-item-heading{font-family:微软雅黑}
        .list-group-item-text{font-family:微软雅黑;font-size:10px}
        .word-common{color:white}
        .list-group-item{background-image:url("/static/images/chatroom.jpg");overflow:auto}
        #settings{position: absolute;left:50%;top: 10%;width: 40%;height: 60%;opacity: 0.9;}
        #d-setting{margin-top:10px}
    {% endblock %}
{% block content %}
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <div id="chatroom">
        <div id="chat-heading">
            <span class="other-user-name">房间人数：{{ roomnum}}</span>
        </div>
        <div id="chat-body">
            <div class="user-list">
            {% for user in userList%}
                {% if user == 0 %}
                <p>无</p>
                {% else %}
                <p class="other-user-name">{{user.username}}&nbsp&nbsp<span style="color: red">&#10004</span></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div id="chat-info">
            <div class = "list-group-item">
            {% for chat in chats %}
            <h4 class="list-group-item-heading">{{chat.sender}}:{{chat.content}}</h4>
            <p class="list-group-item-text">{{chat.time}}</p>
            <input type="hidden" class="chat_id" value="{{chat.id}}"/>
            <br>
            {% endfor %}
            </div>
        </div>
        <form method="post" action="/post_chat/">
            {% csrf_token %}
            <textarea id="chat-input" class="form-control" name = 'chat_content'></textarea>
            <input id="chat-button" class="btn btn-info btn-lg" type = 'submit' name = 'submit' value="发送"/>
            </form>
    </div>
    <div id="settings">
        <p class="word-common">房间配置</p>
        <form action="" method="get">
            <p class="word-common">神民阵营</p>
            <label class="word-common"><input name="god" type="checkbox" value="seer" disabled="true" checked/>预言家</label>
            <label class="word-common"><input name="god" type="checkbox" value="witch" disabled="true" checked/>女巫 </label>
            <label class="word-common"><input name="god" type="checkbox" value="hunter" disabled="true" checked/>猎人</label>
            <label class="word-common"><input name="god" type="checkbox" value="idiot" disabled="true" checked />白痴 </label>
            <p class="word-common">狼人阵营</p>
            <label class="word-common"><input name="god" type="checkbox" value="idiot" disabled="true"/>白狼 </label>
            <p class="word-common">普通狼人数量</p>
            <select disabled="true">
                <option value ="1">1</option>
                <option value ="2">2</option>
                <option value ="3">3</option>
                <option value ="4" selected="selected">4</option>
            </select>
            <div id="d-setting">
                <input class="btn btn-info" type = 'submit' name = 'setting' value="设置" disabled="true"/>
            </div>
        </form>
        <form action="/post_game/" method="post">
            {% csrf_token %}
            <input class="btn btn-warning" type = 'submit' name = 'action' value="创建游戏"/>
        </form>
        <form action="/room/" method="post">
            {% csrf_token %}
            <input type = 'number' name = 'gameId' value={{roomnum}} hidden/>
            <input class="btn btn-warning btn-sm" type = 'submit' name = 'action' id="add-game" value="加入游戏"/>
        </form>
        <input class="btn btn-warning btn-sm" onclick="enter()" name = 'action' value="进入页面"/>
    </div>
{% endblock %}
{% block js %}
<script>
    var flag = true;
    function updateMsg(){
        $.post(
            "/get_chat/",
            {
                last_chat_id: $(".chat_id").last().val()
            },
            function(data){
                $('.list-group-item').append(data);
                if (flag){
                    $('#chat-info').scrollTop($('#chat-info')[0].scrollHeight);
                }
                flag = false;
            }
        );
        setTimeout("updateMsg()", 5000);
    }
    updateMsg();
    function enter(){
        window.location.href="/game";
    }
</script>
{% endblock %}
