<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link type = "text/css" href = "/static/css/bootstrap.min.css" rel = "stylesheet">
    <style>
        body{ background-image:url(/static/images/background.jpg);}
        #title{padding:6px;font-family: 微软雅黑;height: 80px;}
        .title_label{color: white}
        {% block css %}{% endblock %}
    </style>
</head>
<body>
{% block userbase_content %}
    <div id="title">
        {% if not request.user.is_authenticated %}
        <form method="post" action="/login/" >
            {% csrf_token %}
            <label class="title_label">用户名：</label>
            <input type = 'text' name = 'username'/>
            <label class="title_label">密码：</label>
            <input type = 'password' name = 'password'/>
            <input type = submit value="login" name="login" class="btn btn-info btn-sm">
        </form>
        {% else %}
        <div style="float: left;padding-right: 10px"><p class="title_label">欢迎：{{ username }}</p></div>
        <div style="float: left">
        <form method="post" action="/logout/">
            {% csrf_token %}
            <input type = submit value="logout" name="logout" class="btn btn-info btn-xs">
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block room_description %}
{% endblock %}
</body>
</html>